In [1]:
print("hello")

hello

1 variable

In [2]:
Name="rohit"
Age=17
Height=5.6
Married=False
Student=True

print(Name)
print(Age)
print(Height)
print(Married)
print(Student)

rohit
17
5.6
False
True

2 DATA TYPES

In [3]:
marks={90,91,92,93,94} #set
biodata=(Name,Age,Height,marks,Student) #Tuple
fruit=['banana','apple','graps'] #list

print(marks)
print(biodata)
print(fruit)

{90, 91, 92, 93, 94}
('rohit', 17, 5.6, {90, 91, 92, 93, 94}, True)
['banana', 'apple', 'graps']

3 STRINGS

In [4]:
single_quated_string='radhe','radhe'
double_quated_string='python programing'
multiple_quated_string='this is a multiple line'

my_string='Python'
print(my_string[0])
print(my_string[1])
print(my_string[-1])


#concatinating(ADD)
str1='radhe'
str2='radhe'
concatinating=str1+" "+str2
print(concatinating)


my_str="python programing"
print(my_str[0:6])
print(my_str[7:])
print(my_str[:6])
print(my_str[::-1]) # reverse word


print(my_str.upper())
print(my_str.lower())
print(my_str.find('pro'))
print(my_str.replace('python','java'))
print(my_str.split())


formated_str=f'my name is {Name} and I am {Age} years old'
print(formated_str)

P
y
n
radhe radhe
python
programing
python
gnimargorp nohtyp
PYTHON PROGRAMING
python programing
7
java programing
['python', 'programing']
my name is rohit and I am 17 years old

4 INTIGER IN PYTHON

In [5]:
x=3
y=5

print(x*y) # multiple
print(x**y) # exponentiation
print(x/y) # division in float
print(x//y) # divison in intiger
print(x%y)  # modulus
print(x+y) # add
print(x-y) # subtract

15
243
0.6
0
3
8
-2

5 FLOATS

In [6]:
x=5.5
y=4.5

print(x*y) # multiple
print(x**y) # exponentiation
print(x/y) # division in float
print(x//y) # divison in intiger
print(x%y)  # modulus
print(x+y) # add
print(x-y) # subtract

num_str="3.5"
convert_float=float(num_str)
print(convert_float)

24.75
2146.0117856117135
1.2222222222222223
1.0
1.0
10.0
1.0
3.5

6. BOOLEAN AND NONTYPE

In [7]:
is_greater=10>5
print(is_greater)

is_equal=10==5
print(is_equal)

empty=None
print(empty)

bool_value1=bool(0)
bool_value2=bool(10)
bool_value3=bool(None)
bool_value4=bool([])
bool_value5=bool('hello')
print(bool_value1)
print(bool_value2)
print(bool_value3)
print(bool_value4)
print(bool_value5)

True
False
None
False
True
False
False
True

7. DATA TYPE IN PYTHON

1. LISTS

In [8]:
# lists
my_list=['apple','banana','hello','world']
print(my_list)

# nested lists
nested_list=[1,'hello',[3,4,5],'world']
print(nested_list)

print(my_list[0])
print(my_list[1])
print(my_list[2])
print(my_list[3])
print(my_list[-1])

print(my_list[1:3])
print(my_list[:2])
print(my_list[2:])

# adding in lists
my_list.append('virat')
print(my_list)

# removing
my_list.remove('hello')
print(my_list)


list1=[1,2,3]
list2=[4,5,6]

# add two lists
concate_list=list1+list2
print(concate_list)

# repeating lists
repeated_list=list1*3
print(repeated_list)

# lenght of lists
length_list=len(list1)
print(length_list)

['apple', 'banana', 'hello', 'world']
[1, 'hello', [3, 4, 5], 'world']
apple
banana
hello
world
world
['banana', 'hello']
['apple', 'banana']
['hello', 'world']
['apple', 'banana', 'hello', 'world', 'virat']
['apple', 'banana', 'world', 'virat']
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3, 1, 2, 3]
3

2.DICTIONARY

In [9]:
# dictionary
my_dict={'name: rohit','age:17','is_student:true'}
print(my_dict)

details={
 "name":"rohit",
 "age":17,
 "marks":[91,92,93,94],
 "is_student":True
}
print(details)
print(details['name'])
print(details['marks'])

# modify 
details['age']=26
print(details['age'])

# adding
details['address']='siwan'
print(details['address'])

# removing
del details['is_student']
print(details)
address=details.pop('address')
print(address)
print(details)

{'is_student:true', 'age:17', 'name: rohit'}
{'name': 'rohit', 'age': 17, 'marks': [91, 92, 93, 94], 'is_student': True}
rohit
[91, 92, 93, 94]
26
siwan
{'name': 'rohit', 'age': 26, 'marks': [91, 92, 93, 94], 'address': 'siwan'}
siwan
{'name': 'rohit', 'age': 26, 'marks': [91, 92, 93, 94]}

3. SETS

In [10]:
# sets
my_set={1,2,3,3,2,4}
print(my_set)

# add
my_set.add(6)
print(my_set)

# update
my_set.update([7,8,9])
print(my_set)

# remove
my_set.remove(6)
print(my_set)

# discard
my_set.discard(8)
print(my_set)

# pop
pop_element=my_set.pop()
print(pop_element,my_set)


set1={1,2,3,4}
set2={3,4,5,6}

# union of set
union_set=set1|set2
print(union_set)

# intersection
intersection=set1 & set2
print(intersection)

# difference
difference=set1-set2
print(difference)

{1, 2, 3, 4}
{1, 2, 3, 4, 6}
{1, 2, 3, 4, 6, 7, 8, 9}
{1, 2, 3, 4, 7, 8, 9}
{1, 2, 3, 4, 7, 9}
1 {2, 3, 4, 7, 9}
{1, 2, 3, 4, 5, 6}
{3, 4}
{1, 2}

4. TOUPLES

In [11]:
# touples
my_touples=('apple','banana','cherry')
mixed_touples=("apple",3.14,True)
nested_touples=(1,'hello',(2,3,4),'world')
print(nested_touples)


print(my_touples[0])
print(my_touples[1])
print(my_touples[2])
print(my_touples[-1])


print(my_touples[1:3])
print(my_touples[:2])
print(my_touples[2:])


touple1=(1,2,3)
touple2=(4,5,6)

# add
concate_touples=touple1+touple2
print(concate_touples)


# repeated
repeated_touple=touple1*2
print(repeated_touple)


# lenght
length_touples=len(touple1)
print(length_touples)


# find
num=(1,2,2,3,4,5)
print(num.count(2))
print(num.index(4))


# details
student=("rohit",17,"siwan")
name,age,city=student
print(name)
print(age)
print(city)

(1, 'hello', (2, 3, 4), 'world')
apple
banana
cherry
cherry
('banana', 'cherry')
('apple', 'banana')
('cherry',)
(1, 2, 3, 4, 5, 6)
(1, 2, 3, 1, 2, 3)
3
2
4
rohit
17
siwan

8. LOOP

1. FOR LOOP

In [12]:
sequence=[1,2,3,4]
for items in sequence:
    print(items)


fruits=['apple','banana','graps']
for fruit in fruits:
    print(fruit)

for i in range(5):
    print(i)

1
2
3
4
apple
banana
graps
0
1
2
3
4

2. WHILE LOOP

In [13]:
count=0
while count<5:
    print(count)
    count+=1


i=1
while i<=10:
   if i==6:
    break
   print(i)
   i+=1

0
1
2
3
4
1
2
3
4
5

3. loop control system

In [14]:
# exit the loop
for i in range(5):
    if i==3:
        break
    print(i)

# skip the element
for i in range(5):
    if i==3:
        continue
    print(i)

else:
    print("loop completed")

0
1
2
0
1
2
4
loop completed

9. OPERTIONS

In [15]:
a=5
a+=3
print(f"value of x:{a}")


# logical
p=True
q=False
print(f"p and q:{p and q}")
print(f"p or q:{p or q}")
print(f"not p:{not p}")
print(f"not q:{not q}")


# identify
a=[1,2,3]
b=[1,2,3]
c=a
print(f"a is b:{a is b}")
print(f"a is c:{a is c}")


# membership
numbers=[1,2,3,4]
print(f"2 in numbers:{2 in numbers}")
print(f"2 not in numbers:{2 not in numbers}")
print(f"6 in numbers:{6 in numbers}")
print(f"6 not in numbers:{6 not in numbers}")

value of x:8
p and q:False
p or q:True
not p:False
not q:True
a is b:False
a is c:True
2 in numbers:True
2 not in numbers:False
6 in numbers:False
6 not in numbers:True

10. CONDITIONAL STATEMENTS

In [16]:
grade=int(input("Enter your marks:"))
if grade>=90:
    print(" Grade: A")
elif grade>=80:
    print("Grade: B")
elif grade>=75:
    print("Grade: C")
else:
    print("Grade: D")

Grade: D

11. TRY AND EXCEPT STATEMENT

In [17]:
try:
    num=int(input("Enter number:"))
    result=10/num
    print("result:",result)
except ZeroDivisionError:
    print("error: division by zero")
except ValueError:
    print("error:invalid input please enter valid number")

result: 1.0

12. FUNCTIONS

In [18]:
# function
def greet():
    print("Good morning")

def greet_user(name):
    print(f"Good morning {name}")

def add_number(a,b):
    return a+b
result=add_number(3,5)
print("result:",result)


# call the function
greet()
greet_user("rohit")

result: 8
Good morning
Good morning rohit

13. FILE OPERATIONS

In [2]:
# # open file
# file = open("filename.txt", "r")   # "r" = read mode
# # "r" → Read (default)

# # "w" → Write (overwrites file if exists, else creates new)

# # "a" → Append (writes at end of file)

# # "x" → Create (fails if file exists)

# # "b" → Binary mode (e.g., "rb", "wb")

# # "t" → Text mode (default, e.g., "rt")



# # Reading from a file
# file = open("file name", "r")
# print(file.read())         # Read whole file
# print(file.readline())     # Read one line
# print(file.readlines())    # Read all lines into a list
# file.close()


# # using with statement
# with open("file name","r") as file:
#     content=file.read()
#     print(content)


# # read and write
# with open("file name","w") as f:
#     f.write("rohit\n")
#     f.write("python developer\n")

# with open("file name","r") as f:
#     for line in f:
#         print(line.strip())

14. OOPS

1. class and object

In [ ]:
# Define a class
class Person:
    def __init__(self, name, age):  # constructor
        self.name = name
        self.age = age
    
    def greet(self):
        print(f"Hello, my name is {self.name} and I am {self.age} years old.")

# Create objects
p1 = Person("Rohit", 21)
p1.greet()

Hello, my name is Rohit and I am 21 years old.

2. Encapsulation(Hiding Data)

In [ ]:
class BankAccount:
    def __init__(self, balance):
        self.__balance = balance   # private variable

    def deposit(self, amount):
        self.__balance += amount
    
    def get_balance(self):
        return self.__balance

acc = BankAccount(1000)
acc.deposit(500)
print(acc.get_balance())   # Correct way
# print(acc.__balance)     # Error (private variable)

1500

3. Inheritance(Reusing code)

In [ ]:
class Animal:
    def speak(self):
        print("this is a Animal")

class Dog(Animal):
    def speak(self):
        print("woof! woof!")

class Cat(Animal):
    def speak(self):
        print("Meow!")

d=Dog()
c=Cat()
d.speak()
c.speak()

woof! woof!
Meow!

4. Polymorphism

In [ ]:
class Dog(Animal):
    def speak(self):
        print("woof! woof!")

class Cat(Animal):
    def speak(self):
        print("Meow!")

for animal in [Dog(), Cat()]:
    animal.speak()

woof! woof!
Meow!

5. Abstraction (Hiding Implementation using abc module)

In [ ]:
from abc import ABC, abstractmethod

class Shape(ABC):   # Abstract class
    @abstractmethod
    def area(self):
        pass

class Square(Shape):
    def __init__(self, side):
        self.side = side
    
    def area(self):
        return self.side * self.side

sq = Square(5)
print("Area of square:", sq.area())

Area of square: 25